name: Update Download Counter

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get total download count
        run: |
          TOTAL=$(curl -s https://api.github.com/repos/pavekscb/m/releases \
          | jq '[.[].assets[].download_count] | add // 0')
          echo "Total downloads: $TOTAL"

          echo "{\"schemaVersion\":1,\
          \"label\":\"downloads\",\
          \"message\":\"$TOTAL\",\
          \"color\":\"blue\"}" > downloads.json

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add downloads.json
          git diff --cached --quiet || git commit -m "Update downloads counter"
          git push
